.bottom-indent{
    margin-bottom: 5px;
}

.admin-button{
    background: none repeat scroll 0 0 #b34f4f !important;
    border: 1px solid #b34f4f;
}

.orders-table table td{
    width: 0 !important;
}

.shop-item img{
    height: 300px;
}

.disabled-watch{
    opacity: 0.3;
}