body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  width: 60px;
}

.App {
  margin: 5vw;
  width: 90vw;
}

.category {
  font-weight: bold;
}

.book-image{
  border: 1px solid #ddd;
  border-radius: 50%;
}

.category-title{
  background-color: #fff;
  cursor: pointer;
}